{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="padding:0;">
    <div class="col-md-7" style="padding:0;">
    	<div style="position: relative; left: 0; top: 0;">
    	    <img src="../media/resized_brainstorm360_context.png" style="position:relative; top:0; left:0; height: 100%; width:100%;">
			<img src="../media/Brainstorm 360 quote.png" style="position:absolute; height:170; width:360; bottom:30px; left:40px;"/>
		</div>
    </div>
   	<div style="height:5%;"></div>
    <div class="col-md-3" style="margin-left:80;">
    	<img src="../media/B360 - Logo.png">
    	<div style="height:5%;"></div>

    	<p class="customfont20">Unlock your ideas<p>
    	<p class="customfont9">Brainstorm 360 is the easiest way to<br/> create new ideas and think differently<br/> about all your projects.<p>
    	<div style="height:5%;"></div>

    	<p class="customfont22">First time here? Let's take a quick tour.<p>
    	<a href="tutorial"><img src="../media/Get started - button.png" style="border:none;" /></a>
    	<div style="height:5%;"></div>

    	<p class="customfont22">Back to brainstorm? Start expanding your ideas.</p>
    	<a href="brainstorm"><img src="../media/Create a brainstorm - Button.png" style="border:none;" /></a>
    	<div id="header" style="height:15%;"></div>

    	<div>
	    	<p class="customfont22">Share your experience with - we like to share any good stuff on Brainstorm 360's development.<p><br/>
	    	<a class="customfont23" href="mailto:hello@weare360.co.uk">Email us</a>
	    	<a class="customfont23" href="https://medium.com/@brainstorm360">Blog</a>
	    	<a class="customfont23" href="http://weare360.co.uk/">About</a>
	    	<a class="customfont23" href="https://www.facebook.com/weare360">Facebook</a>
	    	<a class="customfont23" href="https://twitter.com/weare360uk">Twitter</a><br/><br/>
	    	<a class="customfont21">&#169;2015 Brainstorm 360&nbsp;</a><a class="customfont21">Made by 360</a>
    	</div>
    </div>
</div>
{% endblock %}
