{% extends "base.html" %}
{% block title %}Lessons - {{block.super}}{%endblock%}
{% block header %}

{% if authenticated %}
    <li><a href="{% url 'logout'%}">Logout</a></li>
{% endif %}
{% endblock %}

<!-- Page Content ------------------------------------------------------------->
{% block content %}
<div class="container" style="padding-top: 75px">

    <h1>
        <strong>Lessons</strong>
        <br />
        <small>Pick a lesson to continue</small>
    </h1>

    {% for lesson in lessons %}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h3>
                    
                    
                    {% if lesson.title in completed%}
                    <span class="glyphicon glyphicon-ok"></span>
                    <em>{{lesson.title}} has been completed </em>
                    {% else %}
                    {{lesson.title}}
                    {% endif %}
                    <br />
                    <small>
                        <span class="glyphicon glyphicon-tags" /> 
                        {{lesson.award}}
                    </small>
                </h3>
                
                <p>{{lesson.description}}</p>
                
                <!-- Selection Button -->
                <p>
                    {% if lesson.title in completed%}
                    <button class="btn btn-warning" onclick="window.location.href='/lessons/res/?title={{lesson.title}}'">
                        <span class="glyphicon glyphicon-play-circle"></span>&nbsp;Take Lesson Again
                    </button>
                    {% else %}
                    <button class="btn btn-primary" onclick="window.location.href='/lessons/res/?title={{lesson.title}}'">
                        <span class="glyphicon glyphicon-play-circle"></span>&nbsp;Take Lesson
                    </button>
                    {% endif %}
                </p>
            </div>
            
            <!-- Course Picture -->
            <div class="col-xs-6 col-md-4">
                <img class="img-thumbnail" src={{MEDIA_URL}}{{lesson.image}} style="width:100%" />
            </div>
        </div>

        <br />
        <hr />
        <br />
    {% endfor %}
</div>
{% endblock %}
