{% extends "base.html" %}
{% load staticfiles %}
{% block head %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js">
</script>

<script type="text/javascript">
    window.onload = function () {
        var p_elements  = document.getElementById('code').getElementsByTagName('code');
        var unixNewLine = new RegExp("\n", "g");
        
        for (var i = p_elements.length - 1; i >= 0; i--) {
            p_elements[i].innerHTML = p_elements[i].innerHTML.replace(unixNewLine, '<br/>');
        }
    }
</script>

{% endblock %}
<!-- Load jQuery from Google's servers ---------------------------------------->


<script src="{% static "bootstrap.min.js" %}"></script>
<script src="{% static "carousel.js" %}"></script>

<!-- Hide modules before the user has progressed successfully ----------------->
<script>
$(document).ready(function(){
    $("#demoHolder").load("{{MEDIA_URL}}{{ resources.implementDemo }}");
});
</script>

<script>
$("#demoHolder").load("{{MEDIA_URL}}{{ resources.implementDemo }}");
</script>

{% block title %} {{ resources.title }} - {{block.super}}{%endblock%}
{% block content %}

<h1><strong> {{resources.title }} </strong></h1>
<p>{{ resources.implementDemo }}</p>
<section clss="block">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item">
                <span><h3>Background</h3>
                <p>{{ resources.intro }}</p>
                <a class="btn btn-primary"href="#myCarousel" data-slide="next">
                    Continue
                </a>
            </div>
            <div class="item">
                <span><h3>Implementation</h3>
                <p>{{ resources.implementation }}</p>
                <a class="btn btn-primary"href="#myCarousel" data-slide="next">
                    Continue
                </a>
            </div>
            <div class="item">
                <span><h3>Demo</h3>
                <p id="demoHolder"></p>
		        <p>
		            <a id="implementDemoComplete" class="btn btn-primary"href="#myCarousel" data-slide="next">
                        Continue
                    </a>
		        </p>
            </div>
            <div class="item">
            <span><h3>Prevention</h3>
            <p>
		    {{ resources.prevention }}
		</p>
		<p>
		    <button class="btn btn-primary" onclick="window.location.href='/lessons'">
		        Collect points for this lesson
		    </button>
		</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
