{% extends "base.html" %}

{% block title %}Lessons - {{block.super}}{%endblock%}

{% block header %}

	{% if authenticated %}
			<a href={% url 'logout'%}>Logout</a>
	{% endif %}

{% endblock %}

{% block content %}
	{%for lesson in lessons%}
	<div class="lesson">
		<div class="lesson-left">
			<span><h2>{{lesson.title}}</h2><h3> {{lesson.award}} points</h3></span>
			<p>{{lesson.description}}</p>
			<a href="/lessons/res/?id={{lesson.pk}}">More...</a>
		</div>
		<div class="lesson-right">
			<img src={{MEDIA_URL}}{{lesson.image}}></img>
		</div>
	</div>
	{% endfor %}
{% endblock %}