<!--

Lesson Page

Placeholder for lessons in the database. Each part of the lesson is displayed as
a Bootstrap carousel slide.

A button at the bottom of each slide allows the user to progress to the next
slide. The demonstration slide can keep its button hidden until the user has
interacted with the system by hiding $(#implementDemoComplete), and displaying
it as necessary.

Author              Donald Martin (for Team P, University of Glasgow, 2013/14)
Version             1.0
Last Modified       4 March 2014
-->

{% extends "base.html" %}
{% load staticfiles %}

<!-- Loading jQuery, JS & Bootstrap ------------------------------------------->
{% block head %}

<!-- Important Resources -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" />
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js" />
<script src="{% static "bootstrap.min.js" %}" />
<script src="{% static "carousel.js" %}" />

<!-- Stopping Carousel from Autoplaying -->
<script type="text/javascript">
    window.onload = function () {
        var p_elements  = document.getElementById('code').getElementsByTagName('code');
        var unixNewLine = new RegExp("\n", "g");
        
        for (var i = p_elements.length - 1; i >= 0; i--) {
            p_elements[i].innerHTML = p_elements[i].innerHTML.replace(unixNewLine, '<br/>');
        }
    }
    
    function stopAutoPlay() {
        $(document).ready(function(){
            $('#myCarousel').carousel('pause');
        });
    };
</script>
{% endblock %}

<!-- Main Page Content -------------------------------------------------------->
{% block title %} {{ resources.title }} - {{block.super}}{%endblock%}
{% block content %}

<div class="container" style="padding-top: 75px">

<!-- Page Title -->
<h1>
    <strong>
        {{resources.title }}
    </strong>
</h1>

<section class="block">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
        
            <!-- First Slide (Background) ------------------------------------->
            <div class="item active">
                <h3>Background</h3>
                <p>{{ resources.intro }}</p>
                <a class="btn btn-primary" href="#myCarousel" data-slide="next" onclick="$('#myCarousel').carousel('pause');">
                    Continue
                </a>
            </div>
            
            <!-- Second Slide (Implementation) -------------------------------->
            <div class="item">
                <h3>Implementation</h3>
                <p>{{ resources.implementation }}</p>
                <a class="btn btn-primary"href="#myCarousel" data-slide="next" onclick="$('#demoHolder').load('{{MEDIA_URL}}{{ resources.implementDemo }}'); $('#implementDemoComplete').hide(); $('#myCarousel').carousel('pause');">
                    Continue
                </a>
            </div>
            
            <!-- Third Slide (Demonstration) ---------------------------------->
            <div class="item">
                <h3>Demo</h3>
                <div id="demoHolder"></div>
		        <a id="implementDemoComplete" class="btn btn-primary"href="#myCarousel" data-slide="next" onclick="$('#myCarousel').carousel('pause');">
                    Continue
                </a>
            </div>
            
            <!-- Fourth Slide (Prevention) ------------------------------------>
            <div class="item">
                <h3>Prevention</h3>
                <p>{{ resources.prevention }}</p>
		        <button class="btn btn-primary" onclick="window.location.href='/lessons'">
		            Collect points for this lesson
		        </button>
            </div>
            
        </div>
    </div>
</section>
</div>
{% endblock %}
