{% extends "base.html" %}

{% block head %}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script type="text/javascript">
    window.onload = function () {
        var p_elements = document.getElementById('code').getElementsByTagName('code');
        var unixNewLine = new RegExp("\n", "g");
        for (var i = p_elements.length - 1; i >= 0; i--) {
            p_elements[i].innerHTML = p_elements[i].innerHTML.replace(unixNewLine, '<br/>');
        }

        $("#edit").click(function() {
            u = User.objects.get(email__exact=user.email);
            u.set_password(document.getElementById('pass'));
            u.save();
        });
    }
</script>
{% endblock %}

{% block title %} {{res.first_name}} {{res.last_name}} - {{block.super}}{%endblock%}

{% block content %}

<div class="container" style="padding-top: 75px">
<h1>
    <center><strong>{{ user.first_name }} {{ user.last_name }}'s Profile</strong></center>
</h1>

<div class="col-md-4">
</div>
<div class="col-md-4">
<h3><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Details</h3>
<table class="table">
<tr><td>Forename</td><td>{{ user.first_name }}</td></tr>
<tr><td>Surname</td><td>{{ user.last_name }}</td></tr>
<tr><td>Email Address</td><td>{{ user.email }}</td></tr>
<tr><td>Total Points</td><td>{{ points }}</td></tr>
<tr><td colspan="2"><center><button id="edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit my Account</button></center></td></tr>
<tr><td colspan="2"><center><a class="btn btn-danger" href="{% url 'delete'%}"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete my Account</a></center></td></tr>
</table>
<h3><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Completed Lessons</h3>
<table class="table">
{% for lesson in lessons %}
<tr><td>{{ lesson }}</td></tr>
{% endfor %}
</table>
</div>
<div class="col-md-4">
</div>
</div>

{% endblock %}

		
