{% extends "base.html" %}

{% block head %}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script type="text/javascript">
    window.onload = function () {
        var p_elements = document.getElementById('code').getElementsByTagName('code');
        var unixNewLine = new RegExp("\n", "g");
        for (var i = p_elements.length - 1; i >= 0; i--) {
            p_elements[i].innerHTML = p_elements[i].innerHTML.replace(unixNewLine, '<br/>');
        }
    }
</script>
{% endblock %}

{% block title %} {{res.first_name}} {{res.last_name}} - {{block.super}}{%endblock%}

{% block content %}

	<div class="lesson">
		<div class="lesson-left">
			<span><h2>{{res}}</h2>
			<p></p>
		</div>
	</div>

{% endblock %}

		