<html>
    <head>
        <!-- Header Information ----------------------------------------------->
        <title>
            {% block title %}
                Security Learning Tool
            {% endblock %}
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    
    <body>
    
        {% include 'components/navbar.html' %}

        <!-- Main Content ----------------------------------------------------->
        <div class="container" style="padding-top:100px;">
            {% block content %}
            {% endblock %}
            
            {% block extracontent %}
            {% endblock %}
        </div>
        
        <!-- Loading JS last to improve performance --------------------------->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
        <!-- Footer to bottom of page ----------------------------------------->
        <div class="footer navbar-fixed-bottom">
            <p>&copy; 2014, University of Glasgow, Team P</p>
        </div>
</body>
</html>
