body{
	background:#7E8AA2;
	display:block;
	min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-family: sans-serif;
    color:#FFFFFF;
}

a{
	color:#FFFFFF;
	text-decoration: none;
}

footer{
	position:fixed;
	bottom:0;
	z-index:999999;
	background:#000000;
	width:100%;
	box-shadow: 0 0 10px 5px #111111;
}

header{
	position:fixed;
	top:0;
	z-index:999999;
	background:#000000;
	width:100%;
	box-shadow: 0 0 10px 5px #111111;
}

footer p{
	padding-left:15px;
}

header h1 {
	padding-left:15px;
}

header button{
	float:right;
	padding-right: 15px;
	display:inline-block;
}

.body-wrapper{
	padding:100px 10px 1000px 10px;
}

.lesson{
	background:#263248;
	border-radius: 5px;
	padding:20px 20px 20px 20px;
	float:left;
	width:90%;
	display:block;
	box-shadow: 0 0 1px 1px #260B01;
	margin-bottom: 25px;
}

.lesson-left h2, h3{
	display:inline-block;
}

.lesson-left h3{
	padding-left:10px;
	color:#FF9800;
}

.lesson-right,.lesson-left{
	float:left;
	width:40%;
	display:inline-block;
}

.lesson-right{
	width:55%;
	padding-left: 5%;
}

.lesson-right img{
	width:100%;
	box-shadow: 0 0 1px 1px #111111;;
}

.student{
	background:#263248;
	border-radius: 5px;
	padding:20px 20px 20px 20px;
	float:left;
	width:90%;
	display:block;
	box-shadow: 0 0 1px 1px #260B01;
	margin-bottom: 25px;
}